:root {
    --dark-color: rgba(95, 47, 39, 0.801);
    --medium-color: rgba(126, 61, 61, 0.589);
    --light-color: rgb(121, 92, 29);
    --text-color: rgb(100, 59, 27);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    padding: 2rem;
    color: var(--text-color);
}

.header {
    height: 95vh;
    background-image:linear-gradient(to bottom right,var(--medium-color), var(--light-color)), url("../img/landscape.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.logo-box {
    position: absolute;
    top: 6%;
    left: 3%;
}

.logo {
    height: 1.7rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.heading-primary {
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 4rem;
    letter-spacing: 1.3rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0%{transform: translateX(-100px);
        opacity: 0;
        
    }
    50%{
        transform: translateX(50px),
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.heading-primary-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInRight {  
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    50% {
        transform: rotateX(-10px);
    }
    100% {
        opacity: 1;
        transform: rotateX(0);
    }
}
.btn{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    border: 2px solid rgb(250, 183, 0);
    padding: 1rem;
    margin: 0 auto;
    opacity: 0;

    animation-name: btn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    transition-property: transform;
    transition-duration: 3s;
}
.btn-container {
    text-align: center;
    
}

@keyframes btn {
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
Ë‡
.btn:hover {
    transform: rotateY(180deg);
}

.about {
    background-color: rgb(101, 214, 214);
    padding: 25rem 0;
    margin-top: -25vh;
}

.u-center-text {
    text-align: center;
}

.u-margin-buttom-big {
    margin-bottom: 8rem;
}

.u-margin-button-small {
    margin-bottom: 1.5rem;
}

.heading-secondary {
    font-size: 3.5rem;
    display: inline-block;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(to right, var(--medium-color), var(--dark-color));
    background-clip: text;
    letter-spacing: 0.2rem;
}

.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-1-of-2 {
    float: left;
    width: 50%;
    padding: 1rem;
}

.heading-tertiary {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
}

.paragraph:not(:last-child) {
    margin-bottom: 3rem;
}

.btn-text:link, .btn-text:visited { 
    font-size: 1.6rem;
    color: var(--dark-color);
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid var(--dark-color);
    padding: 0.5rem;
    transition: all 0.2s;
}

.btn-text:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    box-shadow:0.1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

.btn-text:active {
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);

}

.composition {
    position: relative;
}

.composition_photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 2rem;
    transition: all 0.2s;
    z-index: 10;
    
}

.composition_photo--p1 {
    left: 0;
    top: -2rem;
}

.composition_photo--p2 {
    right: 0;
    top: 2rem;
}

.composition_photo--p3 {
    left: 20%;
    top: 10rem;
}

.composition_photo:hover {
    outline: 1.5rem solid var(--medium-color);
    transform: scale(1.05);
    z-index: 20;
}

.composition:hover .composition_photo:not(:hover) {
    transform: scale(0.5)
}

.col-1-of-4 {
    float: left;
    width: 25%;
    padding: 2rem;
}

.features {
    padding: 8rem 0;
    height: 85vh;
    background-image: linear-gradient(to right bottom, var(--light-color),
    var(--dark-color)), url('../img/landscape.jpg');
    background-size: cover;
    background-position: bottom;
    transform: skewY(-7deg);
    margin-top: -7rem;
}

.features > * {
    transform: skewY(7deg);
}

.feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    padding: 1.5rem;
    text-align: center;
    color: var(--dark-color);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;

}

.feature-box i {
    font-size: 4rem;
    background-image: linear-gradient(to right, var(--light-color), var(--dark-color));
    background-clip: text;
    color: transparent;
}

.feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
}